<header class="header">
  <h2 class="logo">Nostromo crew</h2>
</header>
<main class="container">
  <mat-sidenav-container class="app-container">
    <mat-sidenav [autoFocus]="false" #sidenav [mode]="(isMobile$ |async) ? 'over' : 'side'" opened class="sidebar">
      <mat-form-field appearance="fill" class="search">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Name or title" (input)="onInput($event.target)" [value]="searchTerm$ | async">
      </mat-form-field>

      <mat-tab-group mat-stretch-tabs="false">
        <mat-tab class="mat-tab" label="All">
          <app-user-list tabName="All" (select)="onSelectedUser($event)" [users]="users$ | async" [selectedUser]="selectedUser$ | async"></app-user-list>
        </mat-tab>
        <mat-tab class="mat-tab" label="Female">
          <app-user-list tabName="Female" (select)="onSelectedUser($event)" [users]="users$ | async" [selectedUser]="selectedUser$ | async"></app-user-list>
        </mat-tab>
        <mat-tab class="mat-tab" label="Male">
          <app-user-list tabName="Male" (select)="onSelectedUser($event)" [users]="users$ | async" [selectedUser]="selectedUser$ | async"></app-user-list>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content class="content">
    <div class="action-back" *ngIf="isMobile$ | async">
      <button  mat-icon-button disableRipple (click)="sidenav.toggle()" clas>
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span>Member detail</span>
      </button>
    </div>
    <ng-container *ngIf="selectedUser$ | async; else noUser">
      <router-outlet></router-outlet>
    </ng-container>
    

    <ng-template #noUser>
      <div class="no-user">
        <img src="../assets/logo-xl.png" alt="">
      </div>
    </ng-template>
    
  </mat-sidenav-content>
</mat-sidenav-container>
</main>