/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0;
}

body {
  margin: 0 !important;
  padding: 0;
}
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; /* SemiBold */ }

.mat-tab-header-pagination {
  display: none !important;
}

.mat-tab-header {
  overflow: hidden !important;
}

.mat-tab-label {
  min-width: 60px !important; /* default is 160px */
  padding: 0 8px !important;  /* reduce horizontal padding */
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: #D9E2F1 !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
}

.mat-list-item-content {
  padding: 0 20px !important;
  box-shadow: 0 -1px 0 0 inset rgba(230, 230, 230, 1) !important;

}

.mat-ink-bar{
  background-color: rgba(0, 100, 255, 1) !important;
}

.mat-tab-list {
  padding: 0 12px !important;
}

.mat-sidenav-content{
  padding: 0 !important;
}
.mat-error{
  display: flex !important;
  justify-content: flex-end !important;
}

mat-label {
  padding-left: 13px !important;
  color: rgba(20, 40, 51, 1) !important;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: medium;
}

.mat-input-element {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important; /* semi-bold */
  color: #333 !important;
}

.mat-form-field-suffix {
  top: 0 !important;
}